html {
    width: 300px;
    height: 600px;
}

ul {
    padding-left: 0px;
    list-style-type: none;
    min-height: 450px;
    max-height: 450px;

    overflow: auto;
}

li {
    display: inline-block;
    
    width: 95%;

    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;

    margin-top: 5px;
    margin-bottom: 5px;
    
    text-align: center;
    cursor: pointer;
}

li:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    text-decoration: line-through;
}

button {
    font-size: 40px;
    width: 40px;
    height: 50px;

    border-radius: 5px;
    border-width: 2px;
    border-color: transparent;
    background-color: white;

    cursor: pointer;

    transition: 0.5s;
}

button:hover {
    border-color: black;
    transition: 0.5s;
}

div.settings {
    display: grid;
    grid-template-columns: max-content max-content;
}

div.settings label {
    text-align: right;
}

div.settings label:after {
    content: ":";
}