html {
    width: 300px;
    height: 600px;
}

ul#quoteTable {
    padding-left: 0px;
    list-style-type: none;
    min-height: 425px;
    max-height: 425px;

    overflow: auto;
}

ul#quoteTable li {
    display: inline-block;
    
    width: 95%;

    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;

    margin-top: 5px;
    margin-bottom: 5px;
    
    text-align: center;
    cursor: pointer;
}

ul#quoteTable li:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    text-decoration: line-through;
}

button {
    width: 40px;
    height: 50px;

    border-radius: 5px;
    border-width: 2px;
    border-color: transparent;
    background-color: white;

    text-align: center;

    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;

    padding: 0px;

    cursor: pointer;

    transition: 0.5s;
}

button#adder {
    color: green;
    font-size: 40px;
}

button#reseter {
    color: red;
    font-size: 30px;
    font-weight: 200;
}

button:hover {
    border-color: black;
    transition: 0.5s;
}

label {
    display: inline-block;
    width: 50px;
    text-align: right;
}
